
.Web{ 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d1d1d1;
}

body{
    background-color: rgb(14, 14, 105);
  
    
}

.PS3{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.PS2{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.PS1{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .search{
    display: flex;
    justify-content: end;
  }

  #afrikaps3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;  
  }
  #afrikaps3 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
  }
  .controls {
    margin-bottom: 20px;
}

select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
}

/* Product Grid */
.product-grid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.product {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d1d1d1;
}

